
<div class="con">

  <div class="card">

      <div class="top-div">
          <div class="border">
          <img src={{data.image}} routerLink="/productdetails/{{data.id}}">
          </div>
          <span>{{data.price}} L.E</span>
      </div>
      <div class="bottom-div">
          <h5>{{data.name}}</h5>

      </div>
      <div class="last-section">

          <div class="buttons">
              <button (click)="addButton=false"  *ngIf="addButton">Add to cart</button>
          </div>

          <div *ngIf="!addButton"  style="display:flex">
            <input type="number" onkeydown="if(event.key==='.'){event.preventDefault();}" onpaste="let pasteData = event.clipboardData.getData('text'); if(pasteData){pasteData.replace(/[^0-9]*/g,'');} " >

              <button (click)="add();addButton=true" style="border-radius:2px;"><img src="../../../../assets/Images/shop-icon.gif" style="width: 20px;"></button>
       </div>
       <div class="heart">
        <a routerLink="/productdetails/{{data.id}}"><i class="fa fa-eye" aria-hidden="true">Details</i></a>
         </div>
      </div>
  </div>
</div>


