
<section>
  <div class="rt-container">
    <div class="col-rt-12">
<!-- Slider -->
        <div id="slider">
          <div class="slides">
            <div class="slider">
              <div class="image"> <img src="../../../assets/Images/slider1.jpg"> </div>
            </div>
            <div class="slider">
              <div class="image"> <img src="../../../assets/Images/slider4.jpg"> </div>
            </div>

            <div class="slider">
              <div class="image"> <img src="../../../assets/Images/slid.jpg"> </div>
            </div>
            <div class="slider">
              <div class="image"> <img src="../../../assets/Images/slider1.jpg"> </div>
            </div>
          </div>
          <div class="switch">
            <ul>
              <li>
                <div class="on"></div>
              </li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
       </div>
 </div>
</section>



















<select class="form-control w-25  m-4 align-content-center" name="cat" id="prdCat" #selected
(change)="getAllProductById(selected.value)">
<option value="0" selected>All</option>
<option *ngFor="let cat of allCategory" [value]="cat.id">
  {{ cat.name }}
</option>
</select>

<div class="container">

  <div class="px-4 px-lg-5 mt-5">

  <div class="row"  *ngIf="!Loading">

  <div class="col-4 justify-content-center" *ngFor="let product of allproducts">

  <app-card-component [data]="product" (item)="addToCard($event)"></app-card-component>

  </div>

  </div>
</div>


<div class="text-center w-500" *ngIf="Loading">

</div>
</div>


