body
{
  margin: 10px;
}
form{
  width:500px;
}

img{

  width: 100px;
  height: 100px;
}
table
{
   text-align: center;


}
.cardlength{

  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: 950px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.TotalCardPrice
{
  margin-left: 1000px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


a{
  color: red;
  text-decoration: none;
}


.inc
{
  color: white;
  border-radius: 10px;
  margin-right: 5px;
}
.dec
{
  color: white;
margin-left: 5px;
  border-radius: 10px;

}

button
{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}






